<%= form_with model: player do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>

      <% player.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :number %><br>
    <%= form.text_area :number %>
  </div>

  <div>
    <%= form.label :nationality %><br>
    <%= form.text_area :nationality %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.text_area :age %>
  </div>

  <div>
    <%= form.label :position %><br>
    <%= form.text_area :position %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>